$primaryRed: hsl(0, 100%, 74%);
$primaryGreen: hsl(154, 59%, 51%);
$accentBlue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: $primaryRed;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;

  .hidden {
    display: none;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 2rem);
    width: 100%;

    & > * {
      flex: 1;
      padding: 0 3rem;
    }

    .heading {
      text-align: left;
      margin-left: 5rem;

      h1 {
        font-weight: 700;
        font-size: 3rem;
      }

      p {
        font-size: inherit;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-right: 5rem;

      & * {
        border-radius: 10px;
        text-align: center;
      }

      &-text {
        background-color: $accentBlue;
        padding: 1rem;
        margin-bottom: 1.6rem;
        box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.089);
      }

      &-input {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2.4rem;
        box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.089);

        .error-hint {
          margin: 0 0 0.4rem 0;
          text-align: right;
          font-size: 0.8rem;
          color: $primaryRed;
        }

        input {
          font-family: inherit;
          height: 2.2rem;
          margin: 0.5rem 0;
          border-radius: 5px;
          border-style: solid;
          padding: 0.4rem 1.4rem;
          text-align: left;

          &:focus {
            outline-style: none;
            border-color: rgba(0, 0, 0, 0.308);
          }
        }

        .invalid {
          border-color: $primaryRed;
        }

        button {
          margin: 0.6rem 0;
          height: 3rem;
          cursor: pointer;
          border-style: none;
          border-radius: 5px;
          text-transform: uppercase;
          font-family: inherit;
          color: white;
          background-color: $primaryGreen;
          transition: all 500ms ease-out;

          &:hover {
            background-color: hsl(154, 64%, 67%);
          }
        }

        p {
          color: $grayishBlue;
          font-size: 0.6rem;
        }
      }
    }

    .feedback-text {
      margin-right: 5rem;
      background-color: $primaryGreen;
      padding: 0rem;
      box-shadow: 0 0.5rem 0 0 rgba(0, 0, 0, 0.089);
      border-radius: 15px;

      p {
        color: white;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  footer {
    height: 2rem;

    p {
      margin: 0;
    }
  }
}
